<div id="id01" #id01 class="modal">
  <span
    onclick="document.getElementById('id01').style.display='none'"
    (click)="work()"
    routerLink=""
    class="close"
    title="Close Modal"
    >&times;</span
  >
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h3>Log In or Sign Up</h3>
      <p>Please fill in this form to create an account.</p>
      <hr />
      <app-details></app-details>
      <div style="border: 1px solid grey; border-radius: 10px">
        <div style="padding: 5px">
          <nb-icon icon="globe"></nb-icon>
          <select name="" id="" style="border: none">
            <option value="" disabled selected>Select Country</option>
            <option
              value="{{ item.code }}"
              *ngFor="let item of country"
              style="border: none; outline: none"
            >
              {{ item.name }}({{ item.dial_code }})
            </option>
          </select>
        </div>
      </div>
      <div style="margin-top: 10px">
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          style="border: 1px solid grey; border-radius: 10px"
          placeholder="Enter Password"
          name="psw"
          required
        />
      </div>
      <div style="margin-top: 10px">
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input
          type="password"
          style="border: 1px solid grey; border-radius: 10px"
          placeholder="Repeat Password"
          name="psw-repeat"
          required
        />
      </div>
      <p style="font-size: 12px">
        We’ll call or text you to confirm your number. Standard message and data
        rates apply
        <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
      </p>

      <div class="clearfix">
        <button type="submit" class="button signupbtn">Sign Up</button>
      </div>
      <div>
        <p class="line">or</p>
      </div>
      <div style="display: flex">
        <button nbButton shape="semi-round" class="facebook_btn">
          <nb-icon nbPrefix icon="facebook"></nb-icon><span>facebook</span>
        </button>
      </div>
      <div style="display: flex">
        <button nbButton shape="semi-round" class="google_btn">
          <nb-icon nbPrefix icon="google"></nb-icon><span>Google</span>
        </button>
      </div>
      <div style="display: flex">
        <button nbButton shape="semi-round" class="email_btn">
          <nb-icon nbPrefix icon="email"></nb-icon><span>email</span>
        </button>
      </div>
    </div>
  </form>
</div>
