.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
::ng-deep nb-layout-header {
  display: block;

  nav {
    align-items: center;
    justify-content: space-between !important;
    display: flex;
  }
}
.details-style {
  float: left;
  width: 70%;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rating-style {
  float: right;
  margin-right: 13px;

  font-size: 12px;
}
::ng-deep nb-layout-footer {
  display: block;
  margin-top: auto;

  nav {
    justify-content: space-between !important;
    display: flex;
  }
}
a,
a:focus,
a:active {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
  color: red;
  background-color: transparent;
}
.card-style {
  background-color: transparent;
  border: none;
}
.nav_margin {
  margin: 5px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.div_class {
  text-align: center;
  z-index: 3;
  left: 50%;
  position: fixed;
  bottom: 15%;
}
.btn:hover {
  background-color: black;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
  margin-right: 50px;
  width: 100%;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  width: 100%;

  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 2;

  word-wrap: break-word;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 2;
  margin-right: 50px;
  text-overflow: ellipsis !important;
}

// .dropdown:hover .dropbtn {
//   background-color: #3e8e41;
// }
.map_button {
  border-radius: 25px;
  background-color: transparent;
  color: black;
  text-align: center;
  border: 1px solid black;
  font-size: 15px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.map_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.map_button span:after {
  content: "\1F30F";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.map_button:hover span {
  padding-right: 25px;
}
.map_button:hover {
  background-color: #f4511e;
  color: white;
}
.map_button:hover span:after {
  opacity: 1;
  right: 0;
}
.btn_host {
  background-color: transparent;
  margin-right: 10px;
  padding: 10px;
  border: transparent;
}
.btn_host:hover {
  background-color: rgba(220, 220, 220, 0.575);
  border: gainsboro;
  border-radius: 20px;
}
.globe_host {
  background-color: transparent;
  width: 40px;
  border: transparent;
}
.globe_host:hover {
  border: gainsboro;
  border-radius: 10px;
  animation: mymove 1s 1;
}
@keyframes mymove {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.nav_menu_styles {
  border: 2px solid rgba(220, 220, 220, 0.575);
  margin-left: 20%;
  border-radius: 25px;
}
::ng-deep nb-layout-column {
  order: 1;

  min-width: 0; // fix for flexbug https://github.com/philipwalton/flexbugs#flexbug-1
  // &.left {
  //   @include nb-ltr(order, 0);
  //   @include nb-rtl(order, 2);
  // }
  // &.start {
  //   order: 0;
  // }
}
.col_layout {
  padding: 0rem 0rem 0rem !important;
}
