<nb-layout>
  <nb-layout-header style="border: 1px solid rgba(220, 220, 220, 0.575)">
    <div class="row" style="display: contents">
      <div>
        <h1 routerLink="home">LOGO</h1>
      </div>
      <div class="nav_menu_styles">
        <button
          class="nav_margin"
          style="border-right: 1px solid bisque"
          status="basic"
          size="small"
        >
          menu 1
        </button>
        <button
          status="basic"
          size="small"
          class="nav_margin"
          style="border-right: 1px solid greenyellow"
        >
          menu 2
        </button>
        <button status="basic" size="small" class="nav_margin">menu 3</button>
      </div>
      <div style="margin-left: 20%; display: inline-block">
        <button class="btn_host">Become a host</button>
        <nb-icon icon="globe" class="globe_host"></nb-icon>
      </div>

      <div style="float: right">
        <div class="dropdown">
          <nb-user
            size="small"
            name="Jonh Doe"
            title="Engineer"
            class="dropbtn"
          >
          </nb-user>
          <div class="dropdown-content">
            <a routerLink="loginsignup">Log In</a>
            <a href="#">sample text</a>
            <a href="#">sample text</a>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column class="col_layout">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>
    <div style="float: left" class="col-6">
      <a href="">Privacy</a>
      <a style="margin-left: 10px" href="">Terms</a>
      <a style="margin-left: 10px" href="">Details</a>
      <a style="margin-left: 10px" href="">Map</a>
      <a style="margin-left: 10px" href="">Contact</a>
    </div>
    <div style="float: right" class="col-6">
      <a style="margin-left: 10px" href="">Language</a>
      <a style="margin-left: 10px" href="">Currency</a>
    </div>
  </nb-layout-footer>
</nb-layout>
