.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
::ng-deep nb-layout-header {
  display: block;

  nav {
    align-items: center;
    justify-content: space-between !important;
    display: flex;
  }
}
.details-style {
  float: left;
  width: 70%;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rating-style {
  float: right;
  margin-right: 13px;

  font-size: 12px;
}
::ng-deep nb-layout-footer {
  display: block;
  margin-top: auto;

  nav {
    justify-content: space-between !important;
    display: flex;
  }
}
a,
a:focus,
a:active {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
  color: red;
  background-color: transparent;
}
.card-style {
  background-color: transparent;
  border: none;
}
.nav_margin {
  margin-left: 10px;
}
.div_class {
  text-align: center;
  z-index: 12;
  left: 50%;
  position: fixed;
  bottom: 15%;
}
.btn:hover {
  background-color: black;
}
