<nb-layout>
  <nb-layout-header>
    <div>
      <h1>LOGO</h1>
    </div>
    <div style="margin-left: 2rem">
      <button nbButton status="basic" size="small">menu 0</button>
      <button nbButton class="nav_margin" status="basic" size="small">
        menu 1
      </button>
      <button nbButton status="basic" size="small" class="nav_margin">
        menu 2
      </button>
      <button nbButton status="basic" size="small" class="nav_margin">
        menu 3
      </button>
    </div>
    <div>
      <h1>Profile</h1>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <div style="position: center">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of dynamicSlides">
          <ng-template carouselSlide id="slide.id">
            <img
              [src]="slide.src"
              [alt]="slide.alt"
              [title]="slide.title"
              height="30px"
              width="10px"
              style="padding-left: 10px; padding-right: 10px"
            />
            <span>{{ slide.title }}</span>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="grid-container">
      <div class="grid-item">
        <nb-card size="small">
          <div style="display: wrap">
            <owl-carousel-o [options]="customOptions2">
              <ng-container *ngFor="let slide of dynamicSlides">
                <ng-template carouselSlide id="slide.id">
                  <img
                    [src]="slide.src"
                    [alt]="slide.alt"
                    [title]="slide.title"
                    height="230px"
                    width="100%"
                    style="border-radius: 20px"
                  />
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <div class="row">
            <div class="col details-style">
              <div>Home Name</div>
              <div>Distance</div>
              <div>Charges</div>
            </div>
            <div class="col-4 rating-style">
              <nb-icon icon="star"></nb-icon>
              Ratings
            </div>
          </div>
        </nb-card>
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span></nb-card
        >
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span></nb-card
        >
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span>
        </nb-card>
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span>
        </nb-card>
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span></nb-card
        >
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span>
        </nb-card>
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span>
        </nb-card>
      </div>
      <div class="grid-item">
        <nb-card size="small">
          <img
            src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"
            alt=""
            height="70%"
            width="100%"
            style="border-radius: 20px"
          />
          <span>Some text</span></nb-card
        >
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>
